# PSN = 2 x ( 홈런 x 도루 ) / ( 홈런 + 도루 )

In [1]:
import pandas as pd
TEAM_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/팀타자_세이버 매트릭스_합본_8_25.csv"
PER_PATH = "C:/Users/home/DA(inflearn)/individual_pitcher/개인타자_세이버 매트릭스_합본_8_25.csv"

In [3]:
team_hitter = pd.read_csv(TEAM_PATH,encoding="utf-8-sig")
team_hitter

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,wRAA,wRC,GPA,HR%,RC,RC27,SPD,XR,총합연봉,평균연봉
0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,925700.0,14025.757576
1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1454500.0,19655.405405
2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,872200.0,13017.910448
3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1058700.0,15801.492537
4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,955500.0,14051.470588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,31,29,2,2,...,-9.244490,174.281397,0.255807,0.021640,292.073106,4.767820,4.490025,298.168,1067700.0,16682.812500
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,38,32,4,4,...,11.912901,190.645202,0.263185,0.028145,300.650886,5.079833,3.835947,302.194,998090.0,15842.698413
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,41,37,8,8,...,50.648229,245.359152,0.277752,0.023912,361.204279,5.750304,4.500252,364.052,975000.0,15476.190476
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,37,30,3,4,...,-72.776044,111.206375,0.231974,0.023237,239.381869,3.718821,4.064786,246.632,935800.0,15093.548387
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,37,33,3,3,...,28.517858,224.674465,0.269592,0.028771,348.338783,5.468109,5.753351,358.756,885600.0,14760.000000

In [4]:
team_hitter.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '출루율',
       '장타력', 'ops', '타율', 'ISO', 'BABIP', 'BB/K', 'K%', 'BB%', 'wOBA', 'wRAA',
       'wRC', 'GPA', 'HR%', 'RC', 'RC27', 'SPD', 'XR', '총합연봉', '평균연봉'],
      dtype='object')

In [6]:
hitter = pd.read_csv(PER_PATH,encoding="utf-8-sig")
hitter

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,타순,타자,...,wRAA,wRC,HR%,GPA,RC,RC27,SPD,XR,PSN,연봉
0,20160401HHLG0,2016-04-01,HH,LG,0,T,60404,0,3,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,4000.0
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61102,1,8,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,8100.0
2,20160401HHLG0,2016-04-01,LG,HH,0,B,61186,1,7,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,2800.0
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62164,0,9,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,6000.0
4,20160401HHLG0,2016-04-01,HH,LG,0,T,62700,1,9,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,3200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719WOSK0,2020-07-19,SK,WO,0,B,75847,1,3,4,...,16.927722,35.569448,0.053279,0.323597,44.520442,8.121973,4.424655,44.774,7.222222,120000.0
81098,20200719WOSK0,2020-07-19,SK,WO,0,B,76802,1,9,4,...,-10.861406,0.171452,0.000000,0.189185,8.159004,2.039751,2.341158,8.842,0.000000,21000.0
81099,20200719WOSK0,2020-07-19,SK,WO,0,B,77463,0,6,1,...,-0.156114,4.409206,0.033898,0.260179,7.941509,5.229774,0.259262,7.320,0.000000,10000.0
81100,20200719WOSK0,2020-07-19,WO,SK,0,T,78168,1,1,5,...,10.457936,31.230144,0.018315,0.293764,42.787961,6.755994,7.958655,44.426,7.619048,35000.0
81101,20200719WOSK0,2020-07-19,WO,SK,0,T,79456,1,6,4,...,2.424822,14.066390,0.000000,0.273254,21.331733,5.877110,3.264740,19.854,0.000000,30000.0

In [7]:
hitter.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '타순', '타자',
       '타수', '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타',
       '시즌', '단타', '출루율', '장타력', 'ops', '타율', 'BABIP', 'BB/K', 'ISO', 'K%',
       'BB%', 'wOBA', 'wRAA', 'wRC', 'HR%', 'GPA', 'RC', 'RC27', 'SPD', 'XR',
       'PSN', '연봉'],
      dtype='object')

In [8]:
# 2 x ( 홈런 x 도루 ) / ( 홈런 + 도루 )
def psn(row):
    previous = team_hitter[(team_hitter['시즌'] == row['시즌']) & (team_hitter['팀코드'] == row['팀코드']) & (team_hitter['일자'] < row['일자'])]
    if len(previous) == 0:
        row['PSN'] = 0
        return row
    previous_sum = previous.sum()
    try:
        psn = 2*(previous_sum["홈런"]*previous_sum["도루"])/(previous_sum["홈런"]+previous_sum["도루"])
    except ZeroDivisionError:
        psn = 0
    row['PSN']= psn
    return row
def perPSN(row):
    previous = hitter[hitter['선수코드'] == row['선수코드']].copy()
    previous = previous[(previous['시즌'] == row['시즌']) &(previous['일자'] < row['일자'])]
    previous_sum = previous.sum()
    if len(previous) == 0:
        row['PSN'] = 0
        return row
    try:
        psn = 2*(previous_sum["홈런"]*previous_sum["도루"])/(previous_sum["홈런"]+previous_sum["도루"])
    except ZeroDivisionError:
        row['PSN'] = 0
        return row
    row['PSN'] = psn
    return row

In [9]:
team_hitter = team_hitter.apply(psn,axis=1)
team_hitter["PSN"].iloc[2870: 2890]

2870     99.490196
2871    102.743802
2872    114.337449
2873     90.247312
2874     89.358491
2875    113.466667
2876     99.292683
2877     85.090909
2878    116.298755
2879     92.884615
2880      0.000000
2881      0.000000
2882      0.000000
2883      0.000000
2884      0.000000
2885      0.000000
2886      0.000000
2887      0.000000
2888      0.000000
2889      0.000000
Name: PSN, dtype: float64

In [10]:
team_hitter.iloc[2870: 2890]

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,wRC,GPA,HR%,RC,RC27,SPD,XR,총합연봉,평균연봉,PSN
2870,20171003HTKT0,2017-10-03,KT,HT,0,B,39,37,2,2,...,638.202105,0.251887,0.021711,634.876102,4.480307,4.423567,649.316,639600.0,9546.268657,99.490196
2871,20171003HTKT0,2017-10-03,HT,KT,0,T,46,37,10,10,...,882.899365,0.283470,0.029086,854.624136,6.034219,5.122508,857.302,1366200.0,20091.176471,102.743802
2872,20171003LGLT0,2017-10-03,LT,LG,0,B,32,28,3,4,...,766.517313,0.268980,0.026935,734.435092,5.159966,4.333755,740.688,1243150.0,18554.477612,114.337449
2873,20171003LGLT0,2017-10-03,LG,LT,0,T,36,33,2,2,...,686.510998,0.256912,0.019601,669.766981,4.712981,4.245317,680.584,1019200.0,15680.000000,90.247312
2874,20171003NCHH0,2017-10-03,HH,NC,0,B,55,52,8,8,...,751.878055,0.266550,0.026447,731.561535,5.161265,4.262297,737.256,1495600.0,21365.714286,89.358491
2875,20171003NCHH0,2017-10-03,NC,HH,0,T,54,48,8,8,...,821.629424,0.274874,0.025888,795.782320,5.629060,4.981311,802.422,975700.0,14783.333333,113.466667
2876,20171003SKOB0,2017-10-03,OB,SK,0,B,36,31,2,2,...,870.612320,0.281370,0.030633,841.893606,5.944332,4.653589,843.690,1160000.0,18125.000000,99.292683
2877,20171003SKOB0,2017-10-03,SK,OB,0,T,38,35,3,3,...,755.496178,0.270233,0.042499,748.906679,5.323981,4.215272,770.214,1041500.0,16798.387097,85.090909
2878,20171003WOSS0,2017-10-03,SS,WO,0,B,41,37,10,10,...,707.379282,0.259284,0.025314,716.627513,4.963813,5.579156,735.196,1089800.0,16512.121212,116.298755
2879,20171003WOSS0,2017-10-03,WO,SS,0,T,45,41,8,9,...,775.584300,0.269141,0.024416,766.576996,5.421053,4.795870,759.568,851900.0,12907.575758,92.884615
2880,20180324HHWO0,2018-03-24,WO,HH,0,B,41,37,5,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,906800.0,15369.491525,0.000000
2881,20180324HHWO0,2018-03-24,HH,WO,0,T,38,37,2,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1108550.0,16545.522388,0.000000
2882,20180324KTHT0,2018-03-24,HT,KT,0,B,43,36,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1464500.0,21858.208955,0.000000
2883,20180324KTHT0,2018-03-24,KT,HT,0,T,38,37,5,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,807300.0,12420.000000,0.000000
2884,20180324LGNC0,2018-03-24,NC,LG,0,B,35,30,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,722500.0,10625.000000,0.000000
2885,20180324LGNC0,2018-03-24,LG,NC,0,T,32,30,2,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1140200.0,18098.412698,0.000000
2886,20180324LTSK0,2018-03-24,SK,LT,0,B,40,32,6,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1150000.0,17692.307692,0.000000
2887,20180324LTSK0,2018-03-24,LT,SK,0,T,39,33,3,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1325600.0,20712.500000,0.000000
2888,20180324SSOB0,2018-03-24,OB,SS,0,B,32,32,2,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1148900.0,16895.588235,0.000000
2889,20180324SSOB0,2018-03-24,SS,OB,0,T,43,37,6,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1086300.0,16459.090909,0.000000

In [11]:
hitter = hitter.apply(perPSN,axis=1)
hitter["PSN"]

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
81097    7.222222
81098    0.000000
81099    0.000000
81100    7.619048
81101    0.000000
Name: PSN, Length: 81102, dtype: float64

In [12]:
team_hitter

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,타자,타수,타점,득점,...,wRC,GPA,HR%,RC,RC27,SPD,XR,총합연봉,평균연봉,PSN
0,20160401HHLG0,2016-04-01,LG,HH,0,B,47,42,4,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,925700.0,14025.757576,0.000000
1,20160401HHLG0,2016-04-01,HH,LG,0,T,52,46,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1454500.0,19655.405405,0.000000
2,20160401HTNC0,2016-04-01,NC,HT,0,B,36,30,5,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,872200.0,13017.910448,0.000000
3,20160401HTNC0,2016-04-01,HT,NC,0,T,38,34,3,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1058700.0,15801.492537,0.000000
4,20160401KTSK0,2016-04-01,SK,KT,0,B,36,36,4,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,955500.0,14051.470588,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,2020-07-19,LT,SS,0,T,31,29,2,2,...,174.281397,0.255807,0.021640,292.073106,4.767820,4.490025,298.168,1067700.0,16682.812500,48.816327
6396,20200719OBHT0,2020-07-19,HT,OB,0,B,38,32,4,4,...,190.645202,0.263185,0.028145,300.650886,5.079833,3.835947,302.194,998090.0,15842.698413,29.505882
6397,20200719OBHT0,2020-07-19,OB,HT,0,T,41,37,8,8,...,245.359152,0.277752,0.023912,361.204279,5.750304,4.500252,364.052,975000.0,15476.190476,40.219780
6398,20200719WOSK0,2020-07-19,SK,WO,0,B,37,30,3,4,...,111.206375,0.231974,0.023237,239.381869,3.718821,4.064786,246.632,935800.0,15093.548387,41.528090
6399,20200719WOSK0,2020-07-19,WO,SK,0,T,37,33,3,3,...,224.674465,0.269592,0.028771,348.338783,5.468109,5.753351,358.756,885600.0,14760.000000,58.959350

In [13]:
hitter

,게임키,일자,팀코드,상대팀코드,더블헤더코드,초말,선수코드,선발,타순,타자,...,wRAA,wRC,HR%,GPA,RC,RC27,SPD,XR,PSN,연봉
0,20160401HHLG0,2016-04-01,HH,LG,0,T,60404,0,3,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,4000.0
1,20160401HHLG0,2016-04-01,LG,HH,0,B,61102,1,8,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,8100.0
2,20160401HHLG0,2016-04-01,LG,HH,0,B,61186,1,7,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,2800.0
3,20160401HHLG0,2016-04-01,LG,HH,0,B,62164,0,9,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,6000.0
4,20160401HHLG0,2016-04-01,HH,LG,0,T,62700,1,9,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,3200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719WOSK0,2020-07-19,SK,WO,0,B,75847,1,3,4,...,16.927722,35.569448,0.053279,0.323597,44.520442,8.121973,4.424655,44.774,7.222222,120000.0
81098,20200719WOSK0,2020-07-19,SK,WO,0,B,76802,1,9,4,...,-10.861406,0.171452,0.000000,0.189185,8.159004,2.039751,2.341158,8.842,0.000000,21000.0
81099,20200719WOSK0,2020-07-19,SK,WO,0,B,77463,0,6,1,...,-0.156114,4.409206,0.033898,0.260179,7.941509,5.229774,0.259262,7.320,0.000000,10000.0
81100,20200719WOSK0,2020-07-19,WO,SK,0,T,78168,1,1,5,...,10.457936,31.230144,0.018315,0.293764,42.787961,6.755994,7.958655,44.426,7.619048,35000.0
81101,20200719WOSK0,2020-07-19,WO,SK,0,T,79456,1,6,4,...,2.424822,14.066390,0.000000,0.273254,21.331733,5.877110,3.264740,19.854,0.000000,30000.0

In [15]:
hitter.to_csv("개인타자_세이버 매트릭스_합본_8_25.csv",index=False)
team_hitter.to_csv("팀타자_세이버 매트릭스_합본_8_25.csv",index=False)