<a href="https://colab.research.google.com/github/dj-1087/BigContest-COIN/blob/master/Trans_ColName.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
PATH = "/content/gdrive/My Drive/Colab Notebooks/1차_최종_데이터/"
team_pitcher = pd.read_csv(PATH+"1차_최종_팀투수.csv", encoding="CP949")
team_hitter = pd.read_csv(PATH+"1차_최종_팀타자.csv")
per_pitcher = pd.read_csv(PATH+"1차_최종_개인투수.csv")
per_hitter = pd.read_csv(PATH+"1차_최종_개인타자.csv")
team_pitcher_r = pd.read_csv(PATH+"1차_최종_최근_팀투수.csv")
team_hitter_r = pd.read_csv(PATH+"1차_최종_최근_팀타자.csv")
team_pitcher_vs = pd.read_csv(PATH+"1차_최종_상대_팀투수.csv")
team_hitter_vs = pd.read_csv(PATH+"1차_최종_상대_팀타자.csv")
final_common = pd.read_csv(PATH+"1차_최종_공통.csv")

In [ ]:
team_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝3',
       '투구수', '타자', '타수', '안타', '루타2', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점', 'RA/9', 'ERC', 'FIP', 'kwERA',
       'LOB', 'HR%', 'K%', 'BB%', 'K9', 'BB9', 'HR9', 'KBB', 'whip', 'P/G',
       'P/IP', 'P/PA', 'PFR', 'CYP', 'F-E', 'R-E', 'OAVG', 'OOBP', 'OSLG',
       'OOPS'],
      dtype='object')

In [ ]:
team_hitter.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', 'OBP',
       'SLG', 'OPS', 'GPA', '타율', 'BABIP', 'ISO', 'HR%', 'K%', 'BB%', 'BBK',
       'wOBA', 'wRAA', 'wRC', 'RC', 'RC27', 'XR', 'SPD', 'SECA', 'PSN'],
      dtype='object')

In [ ]:
per_pitcher.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '구원', '완투',
       '종료', '결과', '홀드', '이닝*3', '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런',
       '도루', '도루실패', '희타', '희비', '4구', '고4', '사구', '삼진', '병살', '폭투', '보크',
       '실책', '실점', '자책점', '득점권WHIP', '2점차이하WHIP', '345번타자WHIP', '시즌', '평균자책점',
       'RA/9', 'ERC', 'FIP', 'kwERA', 'LOB', 'HR%', 'K%', 'perBB%', 'K9',
       'BB9', 'HR9', 'KBB', 'whip', 'P/G', 'P/IP', 'P/PA', 'PFR', 'CYP', 'F-E',
       'R-E', '연봉', 'OAVG', 'OOBP', 'OSLG', 'OOPS'],
      dtype='object')

In [ ]:
per_hitter.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '선수코드', '선발', '타순', '타자',
       '타수', '타점', '득점', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타',
       '시즌', '단타', 'OBP', 'SLG', 'OPS', 'GPA', '타율', 'BABIP', 'ISO', 'HR%',
       'K%', 'BB%', 'BB/K', 'wOBA', 'wRAA', 'wRC', 'RC', 'XR', 'RC27', 'SPD',
       'SECA', 'PSN', '연봉'],
      dtype='object')

In [ ]:
team_pitcher_r.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '최근평균자책점', '최근RA/9', '최근ERC', '최근FIP',
       '최근kwERA', '최근LOB', '최근HR%', '최근K%', '최근BB%', '최근K9', '최근BB9', '최근HR9',
       '최근KBB', '최근whip', '최근PFR', '최근P/G', '최근P/IP', '최근P/PA', '최근CYP',
       '최근F-E', '최근R-E', '최근OAVG', '최근OOBP', '최근OSLG', '최근OOPS'],
      dtype='object')

In [ ]:
team_hitter_r.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '최근OBP',
       '최근SLG', '최근OPS', '최근GPA', '최근타율', '최근ISO', '최근BABIP', '최근HR%', '최근K%',
       '최근BB%', '최근BBK', '최근wOBA', '최근wRAA', '최근wRC', '최근RC', '최근RC27', '최근XR',
       '최근SPD', '최근SECA', '최근PSN'],
      dtype='object')

In [ ]:
team_pitcher_vs.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '완투', '결과', '홀드', '이닝*3',
       '투구수', '타자', '타수', '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비',
       '4구', '고4', '사구', '삼진', '병살타', '폭투', '보크', '실책', '실점', '자책점', '득점권WHIP',
       '2점차이하WHIP', '345번타자WHIP', '시즌', '상대평균자책점', '상대RA/9', '상대ERC', '상대FIP',
       '상대kwERA', '상대LOB', '상대HR%', '상대K%', '상대BB%', '상대K9', '상대BB9', '상대HR9',
       '상대KBB', '상대whip', '상대PFR', '상대P/G', '상대P/IP', '상대P/PA', '상대CYP',
       '상대F-E', '상대R-E', '상대OAVG', '상대OOBP', '상대OSLG', '상대OOPS'],
      dtype='object')

In [ ]:
team_hitter_vs.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '타자', '타수', '타점', '득점',
       '안타', '2루타', '3루타', '홈런', '도루', '도루실패', '희타', '희비', '4구', '고4', '사구',
       '삼진', '병살타', '실책', '잔루', '득점권타율', '득점권타수', '득점권안타', '시즌', '단타', '상대OBP',
       '상대SLG', '상대OPS', '상대GPA', '상대타율', '상대ISO', '상대BABIP', '상대HR%', '상대K%',
       '상대BB%', '상대BBK', '상대wOBA', '상대wRAA', '상대wRC', '상대RC', '상대RC27', '상대XR',
       '상대SPD', '상대SECA', '상대PSN'],
      dtype='object')

In [ ]:
final_common.columns

Index(['게임키', '일자', '팀코드', '상대팀코드', '더블헤더코드', '초말', '결과', '시즌', '경기간간격', '월',
       'NC', 'OB', 'WO', 'HT', 'LG', 'SS', 'KT', 'LT', 'SK', 'HH', '이닝*3',
       '실점', '우취', '연장', '득점', '총득점', '총실점', '평균득점', '평균실점', '승수', '패배수', '승률',
       '피타고리안기대승률', '상대총득점', '상대총실점', '상대평균득점', '상대평균실점', '상대승률',
       '상대피타고리안기대승률', '최근총득점', '최근총실점', '최근평균득점', '최근평균실점', '최근승률',
       '최근피타고리안기대승률', '총합연봉', '평균연봉'],
      dtype='object')

In [ ]:
abbreviation = {"게임키":"G_ID", "일자":"GDAY_DS", "팀코드":"T_ID", '상대팀코드':"VS_T_ID", '더블헤더코드':'HEADER_NO', '초말':'TB_SC ', '완투':'CG_CK',
                '결과':'WLS','홀드':"HOLD", '이닝3':"INN2", '이닝*3':"INN2", '투구수':"BF", '타자':"PA", '타수':"AB", '안타':"HIT", '루타2':"H2", "2루타":"H2", '3루타':"H3", '홈런':"HR",
                '도루':"SB",'도루실패':"CS",'희타':"SH",'희비':"SF",'4구':"BB",'고4':"IB",'사구':"HP",'삼진':"KK",'병살타':"GD", '폭투':"WP", '보크':"BK",
                '실책':"ERR",'실점':"R",'자책점':"ER",'득점권WHIP':"P_WHIP_RT", '2점차이하WHIP':"P2_WHIP_RT",'345번타자WHIP':"CB_WHIP_RT", '시즌':"GYEAR",
                '평균자책점':"ERA", 'RA/9':"RA9", 'HR%':"HR_PCT", 'K%':"K_PCT", 'BB%':"BB_PCT", 'P/G':"P_G", 'P/IP':"P_IP", 'P/PA':"P_PA", 'F-E':"F_E", 
                'R-E':"R_E",'잔루':"LOB",'득점권타율':"P_HRA_RT ",'득점권타수':"P_AB_CN",'득점권안타':"P_HIT_CN",'단타':"H1",'타율':"AVG",'선수코드':"P_ID", 
                '선발':"START_CK", '구원':"RELIEF_CK", "종료":"QUIT_CK",'perBB%':"perBB_PCT", '연봉':"MONEY", '최근평균자책점':"r_ERA", '최근RA/9':"r_RA9",
                '최근ERC':"r_ERC",'최근FIP':"r_FIP",'최근kwERA':"r_kwERA",'최근LOB':"r_LOB",'최근HR%':"r_HR_PCT", '최근K%':"r_K_PCT", '최근BB%':"r_BB_PCT",
                '최근K9':"r_K9", '최근BB9':"r_BB9", '최근HR9':"r_HR9", '최근KBB':"r_KBB", '최근whip':"r_whip", '최근PFR':"r_PFR", '최근P/G':"r_P_G", 
                '최근P/IP':"r_P_IP",'최근P/PA':"r_P_PA", '최근CYP':"r_CYP", '최근F-E':"r_F_E", '최근R-E':"r_R_E", '최근OAVG':"r_OAVG", '최근OOBP':"r_OOBP", 
                '최근OSLG':"r_OSLG", '최근OOPS':"r_OOPS", '최근OBP':"r_OBP", '최근SLG':"r_SLG", '최근OPS':"r_OPS", '최근GPA':"r_GPA", '최근타율':"r_AVG", 
                '최근ISO':"r_ISO", '최근BABIP':"r_BABIP", '최근BBK':"r_BBK", '최근wOBA':"r_wOBA", '최근wRAA':"r_wRAA", '최근wRC':"r_wRC", '최근RC':"r_RC",
                '최근RC27':"r_RC27",'최근XR':"r_XR",'최근SPD':"r_SPD",'최근SECA':"r_SECA",'최근PSN':"r_PSN",'상대평균자책점':"vs_ERA",'상대RA/9':"vs_RA9", 
                '상대ERC':"vs_ERC",'상대FIP':"vs_FIP",'상대kwERA':"vs_kwERA",'상대LOB':"vsLOB",'상대HR%':"vs_HR_PCT",'상대K%':"vs_K_PCT",'상대BB%':"vs_BB_PCT",
                '상대K9':"vs_K9", '상대BB9':"vs_BB9", '상대HR9':"vs_HR9", '상대KBB':"vs_KBB", '상대whip':"vs_whip", '상대PFR':"vs_PFR", '상대P/G':"vs_P_G",
                '상대P/IP':"vs_P_IP",'상대P/PA':"vs_P_PA",'상대CYP':"vs_CYP",'상대F-E':"vs_F_E", '상대R-E':"vs_R_E", '상대OAVG':"vs_OAVG", '상대OOBP':"vs_OOBP",
                '상대OSLG':"vs_OSLG", '상대OOPS':"vs_OOPS", '상대OBP':"vs_OBP",'상대SLG':"vs_SLG",'상대OPS':"vs_OPS", '상대GPA':"vs_GPA", '상대타율':"vs_AVG",
                '상대ISO':"vs_ISO", '상대BABIP':"vs_BABIP", '상대BBK':"vs_BBK",'상대wOBA':"vs_wOBA", '상대wRAA':"vs_wRAA", '상대wRC':"vs_wRC", '상대RC':"vs_RC", 
                '상대RC27':"vs_RC27", '상대XR':"vs_XR",'상대SPD':"vs_sPD", '상대SECA':"vs_SECA", '상대PSN':"vs_PSN", '경기간간격':"INTERVAL", '월':"MM",
                '실점':"R", '우취':"RAINOUT", '연장':"OVERTIME", '득점':"RUN", '총득점':"tRUN", '총실점':"tR", '평균득점':"aRUN", '평균실점':"aR", '승수':"W",
                '패배수':"L", '승률':"WPCT",'피타고리안기대승률':"PE", '상대총득점':"vs_tRUN", '상대총실점':"vs_tR", '상대평균득점':"vs_aRUN","타순":"BAT_ORDER_NO",
                '상대평균실점':"vs_aR", '상대승률':"vs_WPCT",'상대피타고리안기대승률':"vs_PE", '최근총득점':"r_tRUN", '최근총실점':"r_tR", "타점":"RBI",
                '최근평균득점':"r_aRUN", '최근평균실점':"r_aR", '최근승률':"r_WPCT",'최근피타고리안기대승률':"r_PE", '총합연봉':"tMONEY", '평균연봉':"aMONEY"}

In [ ]:
def translate(col_list, dictionary):
    result = []
    for i in col_list:
        if dictionary.get(i) != None:
            result.append(dictionary.get(i))
        else:
            result.append(i)
    return result

In [ ]:
team_pitcher.columns = translate(team_pitcher.columns, abbreviation)
team_pitcher.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'CG_CK',
       'WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB',
       'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R',
       'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT', 'GYEAR', 'ERA', 'RA9',
       'ERC', 'FIP', 'kwERA', 'LOB', 'HR_PCT', 'K_PCT', 'BB_PCT', 'K9', 'BB9',
       'HR9', 'KBB', 'whip', 'P_G', 'P_IP', 'P_PA', 'PFR', 'CYP', 'F_E', 'R_E',
       'OAVG', 'OOBP', 'OSLG', 'OOPS'],
      dtype='object')

In [ ]:
team_pitcher_r.columns = translate(team_pitcher_r.columns, abbreviation)
team_pitcher_r.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'CG_CK',
       'WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB',
       'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R',
       'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT', 'GYEAR', 'r_ERA',
       'r_RA9', 'r_ERC', 'r_FIP', 'r_kwERA', 'r_LOB', 'r_HR_PCT', 'r_K_PCT',
       'r_BB_PCT', 'r_K9', 'r_BB9', 'r_HR9', 'r_KBB', 'r_whip', 'r_PFR',
       'r_P_G', 'r_P_IP', 'r_P_PA', 'r_CYP', 'r_F_E', 'r_R_E', 'r_OAVG',
       'r_OOBP', 'r_OSLG', 'r_OOPS'],
      dtype='object')

In [ ]:
team_pitcher_vs.columns = translate(team_pitcher_vs.columns, abbreviation)
team_pitcher_vs.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'CG_CK',
       'WLS', 'HOLD', 'INN2', 'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB',
       'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ERR', 'R',
       'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'CB_WHIP_RT', 'GYEAR', 'vs_ERA',
       'vs_RA9', 'vs_ERC', 'vs_FIP', 'vs_kwERA', 'vsLOB', 'vs_HR_PCT',
       'vs_K_PCT', 'vs_BB_PCT', 'vs_K9', 'vs_BB9', 'vs_HR9', 'vs_KBB',
       'vs_whip', 'vs_PFR', 'vs_P_G', 'vs_P_IP', 'vs_P_PA', 'vs_CYP', 'vs_F_E',
       'vs_R_E', 'vs_OAVG', 'vs_OOBP', 'vs_OSLG', 'vs_OOPS'],
      dtype='object')

In [ ]:
per_pitcher.columns = translate(per_pitcher.columns, abbreviation)
per_pitcher.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'P_ID',
       'START_CK', 'RELIEF_CK', 'CG_CK', 'QUIT_CK', 'WLS', 'HOLD', 'INN2',
       'BF', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', '병살', 'WP', 'BK', 'ERR', 'R', 'ER', 'P_WHIP_RT',
       'P2_WHIP_RT', 'CB_WHIP_RT', 'GYEAR', 'ERA', 'RA9', 'ERC', 'FIP',
       'kwERA', 'LOB', 'HR_PCT', 'K_PCT', 'perBB_PCT', 'K9', 'BB9', 'HR9',
       'KBB', 'whip', 'P_G', 'P_IP', 'P_PA', 'PFR', 'CYP', 'F_E', 'R_E',
       'MONEY', 'OAVG', 'OOBP', 'OSLG', 'OOPS'],
      dtype='object')

In [ ]:
team_hitter.columns = translate(team_hitter.columns, abbreviation)
team_hitter.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'PA', 'AB',
       'RBI', 'RUN', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'ERR', 'LOB', 'P_HRA_RT ', 'P_AB_CN',
       'P_HIT_CN', 'GYEAR', 'H1', 'OBP', 'SLG', 'OPS', 'GPA', 'AVG', 'BABIP',
       'ISO', 'HR_PCT', 'K_PCT', 'BB_PCT', 'BBK', 'wOBA', 'wRAA', 'wRC', 'RC',
       'RC27', 'XR', 'SPD', 'SECA', 'PSN'],
      dtype='object')

In [ ]:
team_hitter_r.columns = translate(team_hitter_r.columns, abbreviation)
team_hitter_r.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'PA', 'AB',
       'RBI', 'RUN', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'ERR', 'LOB', 'P_HRA_RT ', 'P_AB_CN',
       'P_HIT_CN', 'GYEAR', 'H1', 'r_OBP', 'r_SLG', 'r_OPS', 'r_GPA', 'r_AVG',
       'r_ISO', 'r_BABIP', 'r_HR_PCT', 'r_K_PCT', 'r_BB_PCT', 'r_BBK',
       'r_wOBA', 'r_wRAA', 'r_wRC', 'r_RC', 'r_RC27', 'r_XR', 'r_SPD',
       'r_SECA', 'r_PSN'],
      dtype='object')

In [ ]:
team_hitter_vs.columns = translate(team_hitter_vs.columns, abbreviation)
team_hitter_vs.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'PA', 'AB',
       'RBI', 'RUN', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'ERR', 'LOB', 'P_HRA_RT ', 'P_AB_CN',
       'P_HIT_CN', 'GYEAR', 'H1', 'vs_OBP', 'vs_SLG', 'vs_OPS', 'vs_GPA',
       'vs_AVG', 'vs_ISO', 'vs_BABIP', 'vs_HR_PCT', 'vs_K_PCT', 'vs_BB_PCT',
       'vs_BBK', 'vs_wOBA', 'vs_wRAA', 'vs_wRC', 'vs_RC', 'vs_RC27', 'vs_XR',
       'vs_sPD', 'vs_SECA', 'vs_PSN'],
      dtype='object')

In [ ]:
per_hitter.columns = translate(per_hitter.columns,abbreviation)
per_hitter.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'P_ID',
       'START_CK', 'BAT_ORDER_NO', 'PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_HRA_RT ', 'P_AB_CN', 'P_HIT_CN', 'GYEAR', 'H1', 'OBP', 'SLG',
       'OPS', 'GPA', 'AVG', 'BABIP', 'ISO', 'HR_PCT', 'K_PCT', 'BB_PCT',
       'BB/K', 'wOBA', 'wRAA', 'wRC', 'RC', 'XR', 'RC27', 'SPD', 'SECA', 'PSN',
       'MONEY'],
      dtype='object')

In [ ]:
final_common.columns = translate(final_common.columns,abbreviation)
final_common.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC ', 'WLS',
       'GYEAR', 'INTERVAL', 'MM', 'NC', 'OB', 'WO', 'HT', 'LG', 'SS', 'KT',
       'LT', 'SK', 'HH', 'INN2', 'R', 'RAINOUT', 'OVERTIME', 'RUN', 'tRUN',
       'tR', 'aRUN', 'aR', 'W', 'L', 'WPCT', 'PE', 'vs_tRUN', 'vs_tR',
       'vs_aRUN', 'vs_aR', 'vs_WPCT', 'vs_PE', 'r_tRUN', 'r_tR', 'r_aRUN',
       'r_aR', 'r_WPCT', 'r_PE', 'tMONEY', 'aMONEY'],
      dtype='object')

In [ ]:
team_hitter

               G_ID     GDAY_DS T_ID VS_T_ID  ...       XR    SPD   SECA     PSN
0     20160401HHLG0  2016-04-01   LG      HH  ...    0.000  0.000  0.000   0.000
1     20160401HHLG0  2016-04-01   HH      LG  ...    0.000  0.000  0.000   0.000
2     20160401HTNC0  2016-04-01   NC      HT  ...    0.000  0.000  0.000   0.000
3     20160401HTNC0  2016-04-01   HT      NC  ...    0.000  0.000  0.000   0.000
4     20160401KTSK0  2016-04-01   SK      KT  ...    0.000  0.000  0.000   0.000
...             ...         ...  ...     ...  ...      ...    ...    ...     ...
6395  20200719LTSS0  2020-07-19   LT      SS  ...  298.168  4.490  0.241  48.816
6396  20200719OBHT0  2020-07-19   HT      OB  ...  302.194  3.836  0.256  29.506
6397  20200719OBHT0  2020-07-19   OB      HT  ...  364.052  4.500  0.252  40.220
6398  20200719WOSK0  2020-07-19   SK      WO  ...  246.632  4.065  0.220  41.528
6399  20200719WOSK0  2020-07-19   WO      SK  ...  358.756  5.753  0.307  58.959

[6400 rows x 50 columns]

In [ ]:
NEW_PATH = "/content/gdrive/My Drive/Colab Notebooks/1차_최종_데이터(08_29)/1차_최종_"
team_hitter.to_csv(NEW_PATH+"팀타자.csv",index=False)
team_hitter_r.to_csv(NEW_PATH+"최근_팀타자.csv",index=False)
team_hitter_vs.to_csv(NEW_PATH+"상대_팀타자.csv",index=False)
team_pitcher.to_csv(NEW_PATH+"팀투수.csv",index=False)
team_pitcher_r.to_csv(NEW_PATH+"최근_팀투수.csv",index=False)
team_pitcher_vs.to_csv(NEW_PATH+"상대_팀투수.csv",index=False)
per_hitter.to_csv(NEW_PATH+"개인타자.csv",index=False)
per_pitcher.to_csv(NEW_PATH+"개인투수.csv",index=False)
final_common.to_csv(NEW_PATH+"공통.csv",index=False)